* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #1c2833;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f7f5f2e6;
  width: 90vmin;
  border-radius: 2vmin;
  padding: 3vw 5vw;
  box-shadow: 6px 6px 31px 0px rgba(244, 208, 63, 0.7);
}
#searchArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#wordInput {
  font-size: 1vmax;
  outline: none;
  border: none;
  padding: 1.5vmin;
  width: 50%;
  border-bottom: 0.7vmin solid #f4d03f;
  border-radius: 1vmin;
}
#searchBtn {
  font-size: 1vmax;
  outline: none;
  border: none;
  padding: 0vmax 2.2vmax;
  border-radius: 1vmin;
  background-color: #f4d03f;
  transition: transform 0.3s;
}
#searchBtn:active {
  transform: scale(0.8);
  background-color: #f4d03f7c;
}
#result {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#word {
  margin-top: 6vmax;
  display: flex;
  justify-content: space-between;
}
#word h3 {
  font-size: 2vmax;
}
#word button {
  padding: 1vmin;
  background-color: transparent;
  color: #f4d03f;
  border: none;
  outline: none;
  font-size: 1.5vmax;
  transition: transform 0.3s;
}
#word button:active,
#copyBtn:active {
  transform: scale(0.8);
  color: #f4d03f7e;
}
#details {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 1vmax;
  color: #b3b6d4;
  font-size: 0.9vmax;
  margin: 1vmin 0 3vmin 0;
}
#wordMeaning {
  width: 100%;
  color: #575a7b;
}
#wordExample {
  width: 100%;
  color: #575a7b;
  font-style: italic;
  border-left: 0.7vmin solid #f4d03f;
  margin-top: 3vmax;
  padding-left: 2vmax;
  min-height: 2vmax;
}
#errorMessage {
  margin-top: 2vmax;
  font-size: 2vmin;
  color: #575a7b;
}
#wordMeaning-copyBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#copyBtn {
  padding: 1vmin;
  background-color: transparent;
  color: #f4d03f;
  border: none;
  outline: none;
  font-size: 1.7vmax;
  transition: transform 0.3s;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #container {
    width: 80vw;
    border-radius: 2vmin;
    box-shadow: 3px 3px 26px 0px rgba(244, 208, 63, 0.7);
  }
  #wordInput {
    font-size: 1.3vmax;
    padding-left: 1vmax;
    width: 55%;
    border-radius: 1vmin;
    border-bottom: 0.5vmin solid #f4d03f;
  }
  #searchBtn {
    font-size: 1.3vmax;
    padding: 1vmin;
    border-radius: 1vmin;
  }
  #word {
    margin-top: 6vmax;
  }
  #word h3 {
    font-size: 4vmax;
  }
  #word button {
    font-size: 2vmax;
  }
  #details {
    gap: 1vmax;
    font-size: 1.3vmax;
  }
  #wordMeaning {
    font-size: 1.7vmax;
  }
  #wordExample {
    font-size: 1.7vmax;
    margin-top: 2vmax;
    padding-left: 2vmax;
    min-height: 2vmax;
    margin-bottom: 2vmax;
  }
  #errorMessage {
    margin: 2vmax;
    font-size: 1vmax;
  }
  #copyBtn {
    font-size: 2vmax;
    margin-left: 2vmax;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #container {
    width: 70vw;
    border-radius: 2vmin;
    box-shadow: 3px 3px 26px 0px rgba(244, 208, 63, 0.7);
  }
  #wordInput {
    font-size: 1.8vmax;
    padding-left: 2vmax;
    width: 60%;
    border-radius: 1vmin;
    border-bottom: 0.5vmin solid #f4d03f;
  }
  #searchBtn {
    font-size: 1.8vmax;
    padding: 1vmin;
    border-radius: 1vmin;
  }
  #word {
    margin-top: 6vmax;
  }
  #word h3 {
    font-size: 4.5vmax;
  }
  #word button {
    font-size: 2.5vmax;
  }
  #details {
    gap: 2vmax;
    font-size: 1.6vmax;
  }
  #wordMeaning {
    font-size: 2vmax;
  }
  #wordExample {
    font-size: 1.9vmax;
    margin-top: 4vmax;
    padding-left: 3vmax;
    margin-bottom: 3vmax;
  }
  #errorMessage {
    margin: 3vmax;
    font-size: 2vmax;
  }
  #copyBtn {
    font-size: 2.5vmax;
    margin-left: 3vmax;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #container {
    width: 65vw;
  }
  #wordInput {
    font-size: 1.8vmax;
    padding-left: 2vmax;
    width: 60%;
    border-bottom: 0.6vmin solid #f4d03f;
  }
  #searchBtn {
    font-size: 1.8vmax;
    padding: 0 2vmin;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #container {
    width: 50vw;
  }
  #wordInput {
    font-size: 1.6vmax;
    padding-left: 2vmax;
    width: 65%;
    border-bottom: 0.6vmin solid #f4d03f;
  }
  #searchBtn {
    font-size: 1.6vmax;
    padding: 0 3vmin;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #container {
    width: 50vw;
    box-shadow: 6px 6px 29px 0px rgba(244, 208, 63, 0.7);
  }
  #wordInput {
    font-size: 1.5vmax;
    padding-left: 1vmax;
    width: 70%;
    border-radius: 1vmin;
    border-bottom: 0.7vmin solid #f4d03f;
  }
  #searchBtn {
    font-size: 1.4vmax;
    padding: 0 2vmin;
    border-radius: 1vmin;
  }
  #word {
    margin-top: 3vmax;
  }
  #word h3 {
    font-size: 3.4vmax;
  }
  #word button {
    font-size: 2vmax;
  }
  #details {
    gap: 1vmax;
    font-size: 1.2vmax;
  }
  #wordMeaning {
    font-size: 1.8vmax;
  }
  #wordExample {
    font-size: 1.6vmax;
    margin-top: 2vmax;
    padding-left: 2vmax;
    margin-bottom: 2vmax;
  }
  #errorMessage {
    margin: 3vmax 0vmax 1vmax 0vmax;
    font-size: 1.6vmax;
  }
  #copyBtn {
    font-size: 2vmax;
    margin-left: 1vmax;
  }
}
